@import "tailwindcss";


html.light-mode {
    filter: invert(1) hue-rotate(180deg);
    background-color: #f7f4ed;
    /* Đảo ngược của #080B12 */
}

html.light-mode img,
html.light-mode button[class*="bg-blue"],
html.light-mode div[class*="bg-gradient"] {
    filter: invert(1) hue-rotate(180deg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #080B12 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}